.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  background-color: rgb(216, 221, 224);
  width: 100px;
  height: 100px;
  margin: 12px;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  cursor: pointer;
  padding: 0;
  user-select: none; /* Likely future           */
}

.btn:hover {
  background-color: rgb(174, 177, 179);
}
.btn:active {
  background-color: rgb(141, 145, 148);
}

.row {
  display: flex;
}
